# Build and Release Folders
bin/
bin-debug/
bin-release/
bin-release-temp/

# Other files and folders
.settings/
src/assets/
src/icons/
src/com/lios/hangman/data/DatabaseConstants.as

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
